<div class="main">
  <div class="header">
    <h1>Todo List</h1>
  </div>
  <div class="content">
    <!--Exibição das todoList-->
    <div
      *ngIf="TodoLists != undefined"
      style="height: 700px; min-height: 700px"
    >
      <div
        *ngFor="let todoList of TodoLists"
        style="display: flex; flex-direction: column; gap: 10px; padding: 10px"
      >
        <app-item-card [todoListData]="todoList"></app-item-card>
      </div>

      <div *ngIf="TodoLists?.length == 0"
        style="height: 700px; min-height: 700px; display: flex; align-items: center; justify-content: center;"
      >
        <h1>Crie sua primeira Task!</h1>
      </div>
    </div>

    <div>
      <div
        style="
          display: flex;
          justify-content: flex-end;
          padding-top: 15px;
          padding-right: 20px;
          padding-bottom: 5px;
        "
      >
        <button
          style="
            cursor: pointer;
            background-color: rgb(99, 112, 240);
            border-color: transparent;
            border-radius: 10px;
          "
        >
          <h2 style="color: white">Criar Task</h2>
        </button>
      </div>
    </div>
  </div>
</div>
