
  <div class="main">
    <div class="header">
      <h1>Todo List</h1>
    </div>
    <div class="content">
      <div
        style="display: flex; flex-direction: column; gap: 10px;"
      >
        <app-item-card>1</app-item-card>
        <app-item-card>2</app-item-card>
        <app-item-card>3</app-item-card>
        <app-item-card>4</app-item-card>
        <app-item-card>5</app-item-card>
        <app-item-card>6</app-item-card>
        <app-item-card>7</app-item-card>
        <app-item-card>8</app-item-card>
        <app-item-card>9</app-item-card>
        <app-item-card>10</app-item-card>
      </div>

      <div>
        <div
          style="
            display: flex;
            justify-content: flex-end;
            padding-top: 15px;
            padding-right: 20px;
            padding-bottom: 5px;
          "
        >
          <button style="cursor: pointer">
            <h2>Criar Task</h2>
          </button>
        </div>
      </div>
    </div>
  </div>

