<div class="item">
  <div
    style="
      max-height: 90%;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border: solid white;
      border-radius: 5px;
    "
  >
    <div
      style="
        max-height: 10%;
        padding: 20px;
        gap: 20px;
        display: flex;
        flex-direction: row;
      "
    >
      <div>
        <span style="font-size: 20px; font-weight: bold;"> {{ todoListData?.title }}</span>
      </div>
      <div>
        <span type="date"> {{ todoListData?.creationDate }}</span>
      </div>
    </div>

    <div
      style="
        max-width: 100%;
        width: 100px;
        gap: 20px;
        max-height: 100%;
        display: flex;
        align-items: center;
      "
    >
      <button
        class="pi pi-ban"
        style="
          padding: 10px;
          color: red;
          cursor: pointer;
          background-color: transparent;
          border: transparent;
        "
      ></button>
      <button
        class="pi pi-arrow-circle-right"
        style="
          padding: 10px;
          color: green;
          cursor: pointer;
          background-color: transparent;
          border: transparent;
        "
      ></button>
    </div>
  </div>
</div>
