<div class="item">
  <div
    style="
      max-height: 90%;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    "
  >
    <div style="padding: 5px">
      <h3>item name</h3>
    </div>

    <div
      style="
        max-width: 100%;
        width: 100px;
        gap: 20px;
        max-height: 100%;
        display: flex;
        align-items: center;

      "
    >
      <button
        class="pi pi-check"
        style="padding: 10px; color: red; cursor: pointer; background-color: transparent; border: transparent;"
      ></button>
      <button
        class="pi pi-arrow-circle-right"
        style="padding: 10px; color: green; cursor: pointer; background-color: transparent; border: transparent;"
      ></button>
    </div>
  </div>
</div>
